.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    margin: 32px;
}

.cabecalho__busca {
    width: 100vh;
    height: 56px;
    background-color: #FFFFFF29;
    border-radius: 8px;
    padding: 0 14px;
    font-size: 16px;
}

.cabecalho__busca::placeholder {
    color: #FFFFFF29;
}

.cabecalho__nome {
    display: flex;
    align-items: center;
}

.cabecalho__nome__texto {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 0 0 0 5px;
}