.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    margin: 32px 0;
}

.cabecalho__logo {
    width: 25%;
}

.cabecalho__logo__foto {
    width: 60%;
    margin: 0 0 0 32px;
}

.cabecalho__busca {
    width: 50%;
    height: 56px;
    background-color: #FFFFFF29;
    border-radius: 8px;
    padding-left: 1em;
    font-size: 16px;
    border: none;
    line-height: 20px;
    color: #FFFFFF;

}

.cabecalho__busca::placeholder {
    color: #FFFFFF29;
}

.cabecalho__nome {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: center;
}

.cabecalho__nome__texto {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    color: #FFFFFF;
    padding-right: 1em;
}

.cabecalho__nome__texto:hover {
    color: #FFFFFF29;
}

.cabecalho__nome__foto {
    border-radius: 50%;
    width: 40px;
    margin-right: 1em;
}

.menu__hambuguer {
    display: none;
}

.menu__hambuguer_nav {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    width: 25%;
  }
  
  .menu__hambuguer_nav.open {
    height: auto;
    padding: 16px;
  }



@media (max-width: 768px){
    .cabecalho {
        gap: 64px;
    }

    .cabecalho__nome {
        display: none;
    }

    .menu__hambuguer {
        display: flex;
        margin: 0 32px 0 0;
        background-color: #5081FB14;
        width: 48px;
        height: 48px;
        border-radius: 16px;
        align-items: center;
        justify-content: center;
    }
}