.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    margin: 32px 0;
}

.cabecalho__logo {
    width: 25%;
}

.cabecalho__logo__foto {
    width: 60%;
    margin: 0 0 0 32px;
}

.cabecalho__busca {
    width: 50%;
    height: 56px;
    background-color: #FFFFFF29;
    border-radius: 8px;
    padding-left: 1em;
    font-size: 16px;
    border: none;
    line-height: 20px;
    color: #FFFFFF;

}

.cabecalho__busca::placeholder {
    color: #FFFFFF29;
}

.cabecalho__nome {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: center;
}

.cabecalho__nome__texto {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    color: #FFFFFF;
    padding-right: 1em;
}

.cabecalho__nome__texto:hover {
    color: #FFFFFF29;
}

.cabecalho__nome__foto {
    border-radius: 50%;
    width: 40px;
    margin-right: 1em;
}

@media (max-width: 768px){
    .cabecalho__nome {
        display: none;
    }
}