.conteudo {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    margin: 0 32px;
}

.conteudo__principal {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 2%;
}

@media (max-width: 1000px) {
    .conteudo__principal {
        flex-direction: column;
    }
}