.conteudo__direito {
    margin: 0 32px 0 1%;
}

.conteudo__menu__direito__lista {
    list-style: none;
}

.conteudo__menu__direito__lista__titulo {
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.conteudo__menu__direito__lista li {
    padding: 16px 0;
}

.conteudo__menu__direito__lista__nome {   
    height: 56px;
    width: 240px;
    background-color: #FFFFFF29;
    border-radius: 8px;
    padding: 0 14px;
    font-size: 16px;
    font-weight: 400;

}

.conteudo__menu__direito__lista__nome::placeholder {
    color: #FFFFFF29;
}

.conteudo__menu__direito__lista__descricao {   
    height: 80px;
    background-color: #FFFFFF29;
    border-radius: 8px;
    padding: 0 14px;
    font-size: 16px;
    font-weight: 400;
    width: 240px;
}

.conteudo__menu__direito__lista__descricao::placeholder {
    color: #FFFFFF29;
    
}

.conteudo__menu__direito__lista__personalizacao {
    background-color: #FFFFFF29;
    border-radius: 8px;
    padding: 0 14px;
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    width: 272px;
    color: #FFFFFF29;
}

.conteudo__menu__direito__lista__personalizacao {
    background-color: #FFFFFF29;
}

.conteudo__menu__direito__lista__cor {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    width: 272px;
    height: 40px;
    align-items: center;
   
}

.conteudo__menu__direito__lista__cor__botao {
    background-color: #6BD1FF;
    width: 256px;
    height: 40px;
    border-radius: 8px;
    margin: 0 0 0 8px;
    
}

.conteudo__menu__direito__lista__salvar {
    width: 272px;
    height: 56px;
    border-radius: 8px;
    align-items: center;
    color: #051D3B;
    font-size: 1rem;
    font-weight: 400;
    background-color: #5081FB;
}