.conteudo__direito {
    width: 25%;
    padding: 0 2em;
    box-sizing: border-box;
}

.conteudo__menu__direito {
    max-width: 100%;
}

.conteudo__menu__direito__lista {
    list-style: none;
    width: 100%;
}

.conteudo__menu__direito__lista__titulo {
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1em;
    height: 18px;
    padding: 1em;
}

.conteudo__menu__direito__lista li {
    padding: 16px 0;
}

.conteudo__menu__direito__lista__nome {   
    height: 56px;
    width: 100%;
    background-color: #FFFFFF29;
    border-radius: 8px;
    padding: 0 14px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    box-sizing: border-box;
    color: #FFFFFF;
}

.conteudo__menu__direito__lista__nome::placeholder {
    color: #FFFFFF29;
}



.conteudo__menu__direito__lista__descricao {   
    height: 80px;
    background-color: #FFFFFF29;
    border-radius: 8px;
    padding: 0 14px;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    border: none;
    color: #FFFFFF;
}

.conteudo__menu__direito__lista__descricao::placeholder {
    color: #FFFFFF29;
    
}

.conteudo__menu__direito__lista__personalizacao {
    background-color: #FFFFFF29;
    border-radius: 8px;
    padding: 0 14px;
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    width: 100%;
    color: #FFFFFF29;
    border: none;
}

.conteudo__menu__direito__lista__personalizacao {
    background-color: #FFFFFF29;
}

.conteudo__menu__direito__lista__cor__botao {
    background: #6BD1FF;
    border-radius: 8px;
    border: solid;
    border-color: #FFFFFF;
    width: 100%;
    height: auto;
    margin: 1em 0;
    box-sizing: border-box;
    height: 4em;
    
}

.conteudo__menu__direito__lista__salvar {
    width: 100%;
    height: 56px;
    border-radius: 8px;
    align-items: center;
    color: #051D3B;
    font-size: 1rem;
    font-weight: 400;
    background-color: #5081FB;
    border: none;
}

.conteudo__menu__direito__lista__salvar:hover {
    background-color: #7BA4FC;
}

@media (max-width:1000px) {
    .conteudo__direito {
        width: 100%;
}
}